# --- Dependencies (Bỏ qua thư mục cài đặt) ---
# Bỏ qua node_modules ở tất cả các cấp (gốc, backend, frontend)
node_modules/

# --- File Cấu hình & Bảo mật ---
# KHÔNG IGNORE .env (Giữ lại để up lên git)

# Tuy nhiên, vẫn bỏ qua các file .env.local chứa thông tin nhạy cảm của từng dev
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Build Outputs ---
# Bỏ qua thư mục build/dist của Frontend
build/
dist/

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# --- Docker & DB ---
# Thư mục chứa dữ liệu DB của Docker (chỉ lưu trên máy, không up lên git)
mongo-data/

# --- OS System & IDE Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo