services:
  # 1. Database
  mongodb:
    image: mongo:latest
    container_name: ecommerce-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: ecommerce_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  # SERVICE MỚI: Dùng để import data
  mongo-seed:
    build: ./mongo-init
    container_name: ecommerce-seed
    networks:
      - ecommerce-network
    depends_on:
      mongodb:
        condition: service_healthy # Chỉ chạy khi mongodb đã healthcheck OK
    restart: "no" # Chạy xong 1 lần rồi tắt, không restart

  # 2. Backend
  backend:
    build: ./backend
    container_name: ecommerce-backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_URI: mongodb://root:password123@mongodb:27017/ecommerce_db?authSource=admin
      JWT_SECRET: YOUR_JWT_SECRET
      SESSION_SECRET: YOUR_SESSION_SECRET
      FRONTEND_URL: http://localhost:3000
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - ecommerce-network
    restart: on-failure

  # 3. Frontend
  frontend:
    build: ./frontend
    container_name: ecommerce-frontend
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WDS_SOCKET_PORT: 0
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      - backend
    networks:
      - ecommerce-network

volumes:
  mongo_data:

networks:
  ecommerce-network:
    driver: bridge
#test
